<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZinniaCocoa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ZinniaCocoaTouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B725FBCF1B05BD76002AAB18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B725FBD91B05BD76002AAB18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B72741D31AA5643900914B7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B72741DE1AA5643900914B7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
